<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon" href="{% static 'img/site-pis.ico' %}" type="image/x-icon"/>
    <title>Weather Forecast</title>
</head>
<body>
    <main class="{{description}}">
       <section class="side-container">
        <form method="post">
            {% csrf_token %}
            <div class="search-countanier">
                <div style="width:22px;height:22px; color: white;" class="weather-icon">
                    <i class="bi bi-cloud-fog"></i>
                </div>
                <input  
                    type="text" 
                    name="city" 
                    class="geo-input" 
                    placeholder="ex. Lahore England" 
                    value="{{location}}"
                />   
                <button class="search-button">
                    <div style="width:25px;height:25px; color: white;">
                        <i class="bi bi-search"></i>
                    </div>
                </button>
            </div>
        </form>

        <div class="current-temp-box">
            <h2 class="day-stats__temperature">
                <span class="day-stats__temperature_value">{{ current_weather.current_temp }}</span>°C
            </h2>

            <h3 class="day-stats__feels-like">
                Feels like :&nbsp;&nbsp;<span class="day-stats__feels-like-value">{{ feels_like }}</span>°C
            </h3>
            <ul class="day-stats_conditions">
                <li>
                    <p class="day-stats_condition">
                        <span class="day-stats__humidity">{{ Humidity }}</span>% of humidity
                    </p>
                </li>
                <li>
                    <p class="day-stats_condition">
                        <span class="day-stats__clouds">{{ clouds }}</span>% of clouds
                    </p>
                </li>
            </ul>
        </div>
        <img src="{% static 'img/side-blur.png' %}" class="side-blur" alt="blur"/>
    </section>

    <section class="main-container">
        <h4 class="secondary-title">Weather Forecast</h4>
        <h1 class="weather__primary-title">{{ description }}</h1>
        <div class="weather__location">
            <div style="width:15px;height:15px; color: white;" class="location-icon">
                <i class="bi bi-geo-alt"></i>
            </div>
             <p class="weather__location_text">
            <span class="weather__location_city">{{ city }}</span>
            <span class="weather__location_country">{{ country }}</span>
            <span class="weather__location_date">{{ time }}</span>
           </p>
        </div>
        
        <p class="weather__primary-stats">
        Wind <span class="weatherWindKph">{{ wind }}</span> Kilometer per hour. 
        Pressure is <span class="weatherPressure">{{ pressure }}</span> hPa. 
        Visibility is <span class="weatherSnow">{{ visibility }}</span>. 
        Maximum temperature is <span class="weatherMaxTemp">{{ Max_Temp }}</span>°C. 
        Minimum temperature is <span class="weatherMinTemp">{{ Min_Temp }}</span>°C.
        </p>

        <ul class="forecast">
            <li class="forecast__item">
                <p class="forecast-time">{{ time1 }}</p>
                <p class="forecast-temperture">
                    <span class="forecast-tempertureValue">{{ temp1 }}</span>°C
                </p>
                <p class="forecastWindText">
                    Humidity : <span class="forecast-humidityvalue">{{ hum1 }}</span>%
                </p>
            </li>

            <li class="forecast__item">
                <p class="forecast-time">{{ time2 }}</p>
                <p class="forecast-temperture">
                    <span class="forecast-tempertureValue">{{ temp2 }}</span>°C
                </p>
                <p class="forecastWindText">
                    Humidity : <span class="forecast-humidityvalue">{{ hum2 }}</span>%
                </p>
            </li>

            <li class="forecast__item">
                <p class="forecast-time">{{ time3 }}</p>
                <p class="forecast-temperture">
                    <span class="forecast-tempertureValue">{{ temp3 }}</span>°C
                </p>
                <p class="forecastWindText">
                    Humidity : <span class="forecast-humidityvalue">{{ hum3 }}</span>%
                </p>
            </li>

            <li class="forecast__item">
                <p class="forecast-time">{{ time4 }}</p>
                <p class="forecast-temperture">
                    <span class="forecast-tempertureValue">{{ temp4 }}</span>°C
                </p>
                <p class="forecastWindText">
                    Humidity : <span class="forecast-humidityvalue">{{ hum4 }}</span>%
                </p>
            </li>

            <li class="forecast__item">
                <p class="forecast-time">{{ time5 }}</p>
                <p class="forecast-temperture">
                    <span class="forecast-tempertureValue">{{ temp5 }}</span>°C
                </p>
                <p class="forecastWindText">
                    Humidity : <span class="forecast-humidityvalue">{{ hum5 }}</span>%
                </p>
            </li>
        </ul>

        <div class="chart-container">
                <canvas id="chart"></canvas>
        </div>

    </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/chartSetup.js' %}"></script>       
</body>
</html>
